.left {
    width: 30%;
    height: 200px;
    float: left;
    background: cornflowerblue;
}

.right {
    position: absolute;
    background: red;
    height: 200px;
    width: 70%;
    margin-left: 30%;

}

