h2 {
    margin: 0px;
}

#connectMsg p {
    width: auto;
    float: left;
    margin-left: 50px;
}

#simpleMsg p {
    width: auto;
    float: left;
    margin-left: 50px;
}

#powerDes p {
    margin: 0px;
}

#edu p {
    margin: 0px;
}

#project p {
    margin: 0px;
}

#tec, #bk, #comprehensive, #yjs, #xd, #san {
    padding-top: 20px;
}

#powerDes, #edu, #project {
    padding-bottom: 20px;
}

